body {
  background-color: #1b1a1f;
  font: normal 1.25em/1.38 'Manrope ExtraBold';
  color: #514f5c;
}

.container {
  position: relative;
  float: left;
  z-index: 5;
  width: 4%;
  height: 48px;
  margin: 15px 0 0 15%;
  background-image: url('../images/sroom32.png');
  background-repeat: no-repeat;
  background-size: 48px 48px;
  background-position: center center;
}

.element {
  position: relative;
  float: left;
  z-index: 6;
  width: 0.25%;
  height: 48px;
  margin: 15px 0 0 0.4974%;
  background-color: #2c2a32;
}

.text {
  float: left;
  clear: both;
}

._button {
  display: block;
  float: left;
  clear: both;
  width: 13.8333333333%;
  min-width: 166px;
  height: 32px;
  min-height: 32px;
  margin: 15px 0 0 15.16667%;
  border-radius: 3px;
  background-color: #2c2a32;
  font-family: Helvetica;
  font-size: 0.8em;
  font-weight: 400;
  text-align: center;
  color: rgb(255, 255, 255);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}

._button:hover {
  background-color: #393742;
}

.text-1 {
  min-width: 381px;
  min-height: 110px;
  margin: 47px 0 0 15.19922%;
  font-size: 2em;
  color: rgb(255, 255, 255);
}

.text-2 {
  width: 381px;
  min-width: 381px;
  min-height: 108px;
  margin: 5px 0 0 15.16667%;
  font-size: 1em;
  color: #514f5c;
}

.text-3 {
  min-width: 346px;
  min-height: 55px;
  margin: 179px 0 0 15.16667%;
  font-size: 2em;
  color: rgb(255, 255, 255);
}

.text-4 {
  min-width: 347px;
  min-height: 38px;
  margin: 30px 0 0 15.16667%;
  font-size: 1.4em;
  color: rgb(228, 228, 228);
}

.text-5 {
  position: relative;
  z-index: 7;
  width: 225px;
  min-width: 225px;
  min-height: 27px;
  margin: -656px 0 0 20.375%;
  font-size: 1em;
  color: #514f5c;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #7185f8;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 900px) {
  .container {
    position: relative;
    z-index: 5;
    width: 48px;
  }

  .element {
    position: relative;
    z-index: 6;
    width: 3px;
    margin-left: 0.49653%;
  }

  .text-1 {
    margin-left: 15.19792%;
  }

  .text-5 {
    position: relative;
    z-index: 7;
    margin-left: 22%;
  }
}

@media(max-width: 600px) {
  body {
    font-size: 1.25em;
  }

  .container {
    position: relative;
    z-index: 5;
    margin-left: 14.32292%;
  }

  .element {
    position: relative;
    z-index: 6;
    margin-left: 0.46615%;
  }

  ._button {
    width: 15.1666666666%;
  }

  .text-5 {
    position: relative;
    z-index: 7;
    margin-left: 24.6224%;
  }
}

@media(max-width: 400px) {
  .container {
    position: relative;
    z-index: 5;
    margin-left: 15%;
  }

  .element {
    position: relative;
    z-index: 6;
    margin-left: 1.79688%;
  }

  ._button {
    width: 28.7499999999%;
    min-width: 115px;
    margin-left: 15.25%;
  }

  .text-1 {
    min-width: 339px;
    min-height: 220px;
    margin-left: 15.19922%;
  }

  .text-2 {
    width: 221px;
    min-width: 221px;
    min-height: 189px;
    margin-left: 15.25%;
  }

  .text-3 {
    min-width: 339px;
    min-height: 110px;
    margin-top: 98px;
    margin-left: 15.16016%;
  }

  .text-4 {
    min-width: 339px;
    min-height: 76px;
    margin-left: 15.16016%;
  }

  .text-5 {
    position: relative;
    z-index: 7;
    margin-top: -862px;
    margin-left: 32.04688%;
  }
}

@media(max-width: 300px) {
  body {
    font-size: 1.25em;
  }

  .container {
    position: relative;
    z-index: 5;
  }

  .element {
    position: relative;
    z-index: 6;
  }

  .text-1 {
    margin-left: 15.19792%;
  }

  .text-3,
  .text-4 {
    margin-left: 15.15625%;
  }

  .text-5 {
    position: relative;
    z-index: 7;
    width: 158px;
    min-width: 158px;
    margin-top: -871px;
    margin-left: 37.19792%;
  }
}